:root {
    --border-color: #1E2D3D;
    --border-width: 1px;
    --border-style: solid;
}

.header {
    height: 100%;
    border-bottom-color: var(--border-color);
    border-bottom-width: var(--border-width);
    border-bottom-style: var(--border-style);
    height: 56.19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;

}

.container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    height: 100%;
}
.menu-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 100%;
    /* width: 50px; */
}

.menu {
    background: transparent;
    color: #607B96;
    height: 18px;
    width: 24px;

}

@media (max-width: 960px) {
    .desktop-hidden {
        display: none;
    }
}
@media (min-width: 960px) {
    .mobile-hidden {
        display: none;
    }
}