html,
body,
:root {
    margin: 0;
    padding: 0;
    --color-black-background: #010C15;
    --color-blue-background: #011627;
    --border-wrapper-color: #1E2D3D;
    --border-wrapper-width: 1px;
    --border-wrapper-style: solid;
    --border-radius: 8px;
}


.container {
    background: var(--color-black-background);
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-middle {
    height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.wrapper {
    background: var(--color-blue-background);
    border-color: var(--border-wrapper-color);
    border-width: var(--border-wrapper-width);
    border-style: var(--border-wrapper-style);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    margin: 2rem;
    border-radius: 1rem;
    height: 931.32px;
    min-height: 750.32px;
    max-height: 941.32px;
    width: 1782px;
}

@media (max-width: 1600px) {
    .wrapper {
        background: var(--color-blue-background);
        border-color: var(--border-wrapper-color);
        border-width: var(--border-wrapper-width);
        border-style: var(--border-wrapper-style);
        border-radius: var(--border-radius);
        -webkit-border-radius: var(--border-radius);
        -moz-border-radius: var(--border-radius);
        -ms-border-radius: var(--border-radius);
        -o-border-radius: var(--border-radius);
        display: flex;
        align-items: stretch;
        justify-content: center;
        box-sizing: border-box;
        flex-direction: column;
        margin: 2rem;
        border-radius: 1rem;
        width: 1782px;
        height: 731.32px;
        min-height: 700.32px;
        max-height: 941.32px;
    }
}

@media (max-width: 1440px) {
    .wrapper {
        background: var(--color-blue-background);
        border-color: var(--border-wrapper-color);
        border-width: var(--border-wrapper-width);
        border-style: var(--border-wrapper-style);
        border-radius: var(--border-radius);
        -webkit-border-radius: var(--border-radius);
        -moz-border-radius: var(--border-radius);
        -ms-border-radius: var(--border-radius);
        -o-border-radius: var(--border-radius);
        display: flex;
        align-items: stretch;
        justify-content: center;
        box-sizing: border-box;
        flex-direction: column;
        margin: 2rem;
        border-radius: 1rem;
        width: 1782px;
        height: 720px;
        min-height: 700.32px;
        max-height: 941.32px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        background: var(--color-blue-background);
        border-color: var(--border-wrapper-color);
        border-width: var(--border-wrapper-width);
        border-style: var(--border-wrapper-style);
        border-radius: var(--border-radius);
        -webkit-border-radius: var(--border-radius);
        -moz-border-radius: var(--border-radius);
        -ms-border-radius: var(--border-radius);
        -o-border-radius: var(--border-radius);
        display: flex;
        align-items: stretch;
        justify-content: center;
        box-sizing: border-box;
        flex-direction: column;
        margin: 2rem;
        border-radius: 1rem;
        width: 1782px;
        height: 850px;
        min-height: 700.32px;
        max-height: 941.32px;
    }
}

@media (max-width: 600px) {

    .container-middle {
        height: 100%;
        padding: 1rem;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
}