html,
body,
:root {
    margin: 0;
    padding: 0;
    --color-black-background: #010C15;
    --color-blue-background: #011627;
    --border-wrapper-color: #1E2D3D;
    --border-wrapper-width: 1px;
    --border-wrapper-style: solid;
    --border-radius: 8px;
}


.container {
    background: var(--color-black-background);
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-middle {
    height: 100%;
    padding: 0;
    background: transparent;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.wrapper {
    background: var(--color-blue-background);
    border-color: var(--border-wrapper-color);
    border-width: var(--border-wrapper-width);
    border-style: var(--border-wrapper-style);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    margin: 2rem;
    border-radius: 1rem;
    height: 46rem;
    width: 1782px;
}


@media (max-width: 600px) {

    .container-middle {
        height: 100%;
        padding: 1rem;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
}